<div class="user-list">
  <div class="user-list-header">
    <div class="button-group">
      <button type="button" class="btn btn-la btn-default" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-la btn-default" (click)="select()">Done</button>
    </div>
    <p>select friends to chat</p>
  </div>
  <div *ngFor="let chatUsername of chatUsernames; let idx = index" class="user-elements">
    <div class="chat-user-elem" role="button">
      <input type="radio" id="{{idx}}" [attr.name]="chatUsername" [checked]="chatUserList.includes(chatUsername)" [value]="chatUsername"
      (click)="changeChatUser(chatUsername)">
      <label for="{{idx}}">{{chatUsername}}</label>
    </div>
  </div>
</div>
