<div class="container">
  <div class="chat">
    <div class="chat-header">
      <div class="chat-name">Chat</div>
      <div [hidden]="!userName">{{userName}}</div>
    </div>
    <div class="chat-history">
      <div class="message"  *ngFor="let message of messages">
        <div [ngClass]="{'my-message': message.name === userName,
                        'other-message': message.name != userName}">
          <div class="user-name">{{message.name}}</div>
          <div class="message-detail">{{message.message}}</div>
        </div>    
      </div>
      <span class="typing">{{typingMessage}}</span>
    </div>
    <div class="chat-message">
      <textarea type="text" [(ngModel)]="message" (keyup)="typing()" (blur)="unTyping()"></textarea>
      <button type="button" class="btn btn-la btn-default" (click)="send()">send message</button>
    </div>
    <div>
      <input type="text" [(ngModel)]="userName">
      <p>TO:</p>
      <input type="text" [(ngModel)]="to">
      <button type="button" class="btn btn-la btn-default" (click)="joinRoom()">join room</button>
    </div>
  </div>
</div>
