<div class="container">
  <div class="chat-list">
    <div class="chat-friend-list">
      <h2 class="friend-list-header">direct message</h2>
      <li *ngFor="let chat of chatsList">
        <button class="friend-button" (click)="activate(chat)" [ngClass]="{'active': activeChat.convId === chat.convId}">{{chat.names}}</button>
      </li>
    </div>
    <div class="chat">
      <div class="chat-header">
        <div class="chat-name">Chat</div>
        <div [hidden]="!userName">{{userName}}</div>
        <div role="button" (click)="addChat()">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      </div>

      <div class="chat-history">
        <div class="message" *ngFor="let message of activeChat.messages">
          <div [ngClass]="{'my-message': message.name === userName,
                          'other-message': message.name != userName}">
            <div class="user-name">{{message.name}}</div>
            <div class="message-detail">{{message.message}}</div>
          </div>    
        </div>
        <span class="typing">{{typingMessage}}</span>
      </div>
    
      <div class="chat-message">
        <textarea type="text" [(ngModel)]="message" (keyup)="typing()" (blur)="unTyping()"></textarea>
        <button type="button" class="btn btn-la btn-default" (click)="send()">send message</button>
      </div> 
    </div>
  </div>
  <div class="your-name">
    <label>your name</label>
    <input type="text" [(ngModel)]="userName" (blur)="onBlur()">
  </div> 
</div>
<!-- <div class="pop-up" *ngIf="openPopUp">
  <div class="user-list">
    <div class="user-list-header">
      <div class="button-group">
        <button type="button" class="btn btn-la btn-default" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-la btn-default" (click)="select()">Done</button>
      </div>
      <p>select friends to chat</p>
    </div>
    <div *ngFor="let chatUsername of chatUsernames; let idx = index" class="user-elements">
      <div class="chat-user-elem" role="button">
        <input type="radio" id="{{idx}}" [attr.name]="chatUsername" [checked]="chatUserList.includes(chatUsername)" [value]="chatUsername"
        (click)="changeChatUser(chatUsername)">
        <label for="{{idx}}">{{chatUsername}}</label>
      </div>
    </div>
  </div>
</div> -->
<div class="pop-up" *ngIf="openPopUp">
  <app-friends (close)="onClose($event)"></app-friends>
</div>