$hint-color: #B0A9A9;

.container {

	.chat-list {
		width: 750px;
		margin: 20 auto;
		border-radius: 5px;
		background: #444753;
		height: 700px;

		.chat {
			width: 490px;
			height: 700px;
			float: left;
			background: #F2F5F8;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		  
			color: #434651;

			.btn {
				&:hover {
					background: #6c6f7a;
				}
			}
		  
			  .chat-header {
				  padding: 20px;
				  border-bottom: 2px solid white;
				  display: flex;
				  justify-content: space-between;
			  }
		  
			  .chat-history {
				  height: 400px;
				  overflow-y: scroll;
				  padding: 30px 30px 20px;
				  border-bottom: 2px solid white;
				  display: flex;
				  flex-direction: column;
		  
				  .typing {
					  align-self: flex-end;
					  font-style: italic;
					  color: $hint-color;
				  }
				  .message {
					  .my-message {
						  padding-left: 30px;
						  .user-name {
							  text-align: right;
							  padding-right: 5px;
						  }
						  .message-detail {
							  background: #86BB71;
							  color: white;
						  }
					  }
		  
					  .other-message {
						  padding-right: 30px;
						  .user-name {
							  text-align: left;
							  padding-left: 5px;
						  }
						  .message-detail {
							  background: #94C2ED;
							  color: white;
						  }
					  }
		  
		  
					  .message-detail {
						  padding: 18px 20px;
						  font-size: 16px;
						  border-radius: 7px;
						  margin-bottom: 30px;
					  }
				  }
			  }
	}
	.chat-friend-list {
		width: 260px;
		float: left;
		.friend-list-header {
			text-align: left;
			color: white;
			font-size:20px;
			padding: 30px 0 20px 20px;
		}
		li {
			height: 50px;
			list-style: none;
			text-align: left;
			button {
				width: 100%;
				height: 100%;
				background: #45464d;
				border: none;
				color: white;
				font-size: 16px;
				&:hover {
					background: #6c6f7a;
				}
				
			}
			.active {
				border: none;
				background: #626266;
			}
		}
	}
	
}


	

	.chat-message {
		padding: 30px 5px;

		textarea {
			width: 100%;
			border: none;
			border-radius: 5px;
			font: 14px;
			padding: 10px;
		}

		button {
			margin: 10px 60px 10px;

			&:hover {
				color: white;
				background: green;
			}
		}
	}
}
.pop-up {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1000;
	.user-list {
		min-width: 300px;
		background: #fff;
		height: 600px;
		width: 30%;
		margin: 70px auto;
		padding: 30px;
	}
	.user-list-header {
		font-size: 20px;
	}
	.user-element {
		margin: 5px 0;
		display: flex;
		justify-content: flex-start;
		font-size: 15px;
		line-height: 1.5;
	}

	@media only screen and (max-width: 1024px) {
		.user-list-header {
		  font-size: 30px;
		}
		.user-element {
			font-size: 25px;
		}
	  }
	
	// select {
	// 	width: 100%;
	// 	display: block;
	// 	overflow: hidden;
	// 	option {
	// 		border-bottom: 0.5px solid #c7cacc;
	// 		text-align: center;
	// 	}
	// }
	// button {
	// 	display: block;
	// }
}