<div class="container">
  <div class="chat">
    <div class="chat-header">
      <div class="chat-name">Chat</div>
    </div>
    <div class="chat-history">
      <div class="message" *ngFor="let message of messages">
        <span>{{message}}</span> 
      </div>
      <span class="typing">{{typingMessage}}</span>
    </div>
    <div class="chat-message">
      <textarea type="text" [(ngModel)]="message" (keyup)="typing()" (blur)="unTyping()"></textarea>
      <button type="button" class="btn btn-la btn-default" (click)="send()">send message</button>
    </div>  
  </div>
</div>
