.chat {
  width: 30%;
  background: #F2F5F8;
  border-radius: 5px;

  color: #434651;

	.chat-header {
		padding: 20px;
		border-bottom: 2px solid white;
	}

	.chat-history {
		height: 400px;
		overflow-y: scroll;
		padding: 30px 30px 20px;
		border-bottom: 2px solid white;
	}

	.message {
		background: #ffc299;
		padding: 18px 20px;
		font-size: 16px;
		border-radius: 7px;
		margin-bottom: 30px;
	}

	.chat-message {
		padding: 30px 5px;

		textarea {
			width: 100%;
			border: none;
			border-radius: 5px;
			font: 14px;
			padding: 10px;
		}

		button {
			margin: 10px 60px 10px;

			&:hover {
				color: white;
				background: green;
			}
		}
	}
}