<div class="container">
  <h1>Sign Up</h1>
  <app-alert></app-alert>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" 
            formControlName="name"> 
      <div *ngIf="registerForm.controls.name.errors?.required && registerForm.controls.name.touched"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email"
            required formControlName="email"> 
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" 
      required formControlName="password"> 
    </div>
    <div class="form-group">
      <label for="passwordConfirmation">Confirm Password</label>
      <input type="text" class="form-control" id="passwordConfirmation"
      required formControlName="passwordConfirmation"> 
      <div *ngIf="registerForm.controls.passwordConfirmation.errors?.MatchPassword && registerForm.controls.passwordConfirmation.touched"
           class="alert alert-danger">
        password should be consistent
      </div>
    </div>   

    <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Submit</button>
    
  </form>
</div> 
